html{
    background-image: linear-gradient(1deg, deeppink,orange);
    padding: 5%;
}
h1{
    text-align: center;
}
main{
    padding: 5%;
}
.navbar ul{
    list-style-type: none;
    background-color: #e3e3e3;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
}
table{
    border-style: hidden;
    border-radius: 20px;
}
tr{
    text-align: left;
}
body{
    border-radius: 50px;

}
.img{
    transition: transform .2s;
}
.img:hover {
    transform: scale(1.5);
}