main{
    margin-right: 20px;
    margin-left: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #e3e3e3;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
}
table{
    border-style: hidden;
}
tr{
    text-align: center;
}
.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}
body{
    background-image: linear-gradient(1deg, red,orange);
}
#h1{
    background-color: white;
    opacity: 1;
}